/* following :root block added by css color collector */
:root {
	--body__txt--1: #fff;
	--body__bg--2: #123d;
	--main__txt__fill--3: rebeccapurple;
	--p__bg--4: rgb(17, 34, 51);
	--p__txt--5: hwb(90 10% 10% / 0.5);
	--a__box__shadow--6: rgba(40%, 20%, 60%, 100%);
	--a__border--7: hsla(30, 100%, 50%, 0.1);
	--header__bg__img--8: lch(29.23 44.2 27);
	--header__bg__img--9: oklch(52.2345% 72.2 56.2);
	--header__bg__img--10: lab(52.2345% 72.2 -56.2 / .5);
	--header__bg__img--11: oklab(59.69% 0.1007 0.1191 / 0.5);
	--form__bg__img--12: color(display-p3 1 5 0);
	--form__bg__img--13: hsl(45, 100%, 50%);
	--form__bg__img--14: hsl(270 60% 70%);
	--form__txt--15: color(red-a98-rgb 0 1 0);
	--form__border--16: color(display-p3 1 0.5 0 / .5);
}
:root {
  box-sizing: border-box;
  --grey: lightgray;
}

body {
  color: var(--body__txt--1);
  background-color: var(--body__bg--2);
}

main {
  color: var(--body__txt--1);
  -webkit-text-fill-color: var(--main__txt__fill--3);
  caret-color: var(--grey);
}

p:hover {
  background-color: var(--p__bg--4);
  color: var(--p__txt--5);
}

a::after {
  content: '--';
  box-shadow: var(--a__box__shadow--6);
  border-color: var(--a__border--7);
}

header {
  background-image: linear-gradient(90deg, 
  var(--header__bg__img--8) 20%
  var(--header__bg__img--9) 10%
  var(--header__bg__img--10) 30%, 
  var(--header__bg__img--11) 50%);
}

form {
  background-image: conic-gradient(
    var(--form__bg__img--12),
    var(--form__bg__img--13),
    var(--form__bg__img--14)
  );
  color: var(--form__txt--15);
  border-color: var(--form__border--16);
}
