@import url('base.css');
@import url('black.css'); @import url('dark.css');
@import url('landscape.css') screen and (orientation: landscape);
/* following :root block added by css color collector */
:root {
	--disabled__border--1: palevioletred;
	--contenteditable__caret--2: darkolivegreen;
}

/* this is pre defined variable in 

:root {
  --black: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 50%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 94%, 39%);
}  

*/

:root {
  --color: darkgoldenrod;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: hsl(225, 31%, 96%);
    --background-color: hsl(0, 2%, 20%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: hsl(0, 0%, 0%);
    --background-color: hsl(0, 0%, 100%);
  }
}

* {
  font-size: 16px;
}

/* below color can be added in :root {}, 
above comment written purposefully to check whether parse for right :root {} block */
:disabled {
  border-color: var(--disabled__border--1);
}

[contenteditable] {
  caret-color: var(--contenteditable__caret--2);
}
