/* following :root block added by css color collector */
:root {
	--body__bg--1: #123;
	--black__txt--2: black;
	--red__border--3: red;
}
body {
  background-color: var(--body__bg--1);
}

.black {
  color:var(--black__txt--2);
}

.class ~ .red {
  border-color: var(--red__border--3);
}