{
  "allowParens": "always",
  "bracketSpacing": true,
  "printWidth": 180,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2
}
