@import url('black.css');

:root {
	box-sizing: border-box;
	--accent: rebeccapurple;
}

body {
	color: khaki;
	background-color: #663399;
}

main {
	border-color: rgb(102, 51, 153);
}

a::after {
	text-decoration: double rgba(40%, 20%, 60%, 100%);
	outline-color: hsl(270deg 50% 40%);
}

:where(ol, ul, menu:unsupported) {
	caret-color: #639f;
}

.purple {
	column-rule-color: hsla(270, 50%, 40%, 100%);
}

figure {
	filter: drop-shadow(1em 1em hwb(0.75turn 20% 40%));
	box-shadow: 1px 7px 0 hwb(270 20% 40%);
}

header {
	background-image: linear-gradient(
		90deg,
		lch(32.39 61.25 308.86) 20% oklch(0.44 0.16 303.38) 10%
		lab(32.39 38.43 -47.69 / 1) 30%, oklab(44% 0.09 -0.13) 50%
	);
}

footer {
	text-shadow: hwb(0.75turn 20% 40%);
	text-emphasis-color: rgba(40%, 20%, 60%, 100%);
}

@supports (-webkit-text-stroke: 10px) {
	/* CSS comment */
	[contenteditable] {
		-webkit-text-stroke: hwb(4.712rad 20% 40%);
	}
}
