:root {
  box-sizing: border-box;
}

body {
  background-color: #bed0ee;
  color: black;
}

main {
  border-color: rgb(245, 245, 220);
}

.red {
  color: hsl(0, 100%, 50%);
}

figure {
  filter: drop-shadow(16px 16px 20px oklab(59.69% 0.1007 0.1191 / 0.5));
}

header {
  background-image: linear-gradient(90deg, 
  lch(29.2345% 44.2 27) 20%
  lch(52.2345% 72.2 56.2) 10%
  lch(52.2345% 72.2 56.2 / .5) 30%, 
  rgba(255, 255, 255, 0.5) 50%);
}

footer {
  text-shadow: #bed0ee;
  color: oklab(40.1% 0.1143 0.045);
}

[data-color="red-a98-rgb"] {
  background-color: conic-gradient(
    color(display-p3 1 5 0),
    color(display-p3 1 0.5 0 / .5),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%)
  );
}

[data-color="green-srgb-linear"] {
  background-color: color(srgb-linear 0 1 0);
}