@media (prefers-color-scheme: light) {
	:root {
		--accent-color: hsl(0, 0%, 0%);
		--background-color: hsl(0, 0%, 100%);
		--link-color: hsl(122, 52%, 28%);

		--bg-header: hsl(208, 100%, 97%);
		--bg--detail__odd: hsl(152, 26%, 90%);
		--bg--detail__even: hsl(17, 16%, 91%);
		--bg-danger: hsla(0, 57%, 45%);
		--bg-section: hsl(0, 0%, 96%);
		--bg-label: hsl(58, 35%, 85%);
		--bg-value: hsl(77, 16%, 87%);
		--bg-link: hsl(299, 33%, 47%);
		--bg-page: hsl(214, 27%, 40%);
		--bg-circle: hsl(0, 43%, 99%);
		--bg-button: hsl(0, 59%, 41%);
		--bg-button__download: hsl(130, 53%, 76%);
		--bg-footer: hsl(215, 69%, 89%);

		--color-header: hsl(208, 27%, 72%);
		--color-shadow: hsl(286, 17%, 85%);
		--color-button: hsl(0, 0%, 100%);
		--color-link: hsl(72, 25%, 94%);
		--color-label: hsl(324, 13%, 23%);
		--color-value: hsl(77, 1%, 1%);
		--color-page: hsl(56, 60%, 95%);
		--color-circle: hsl(0, 50%, 10%);
		--color--button__download: hsl(66, 14%, 14%);
		--color-footer: hsl(311, 20%, 22%);
	}
}
