@import url(./base.css);

:root {
  --color-button-action: hsl(0, 59%, 41%);
  --color-success: hsl(82, 66%, 18%);
  --color-error: hsl(6, 87%, 29%);
  --color-button: hsl(210, 12%, 16%);
  --color-button__disable: hsl(210, 14%, 22%);
  --color-button__add: hsl(0, 0%, 100%);
  --color-button__remove: hsl(332, 18%, 38%);
  --color-domain: hsl(9, 6%, 30%);
  --color-instruction: hsl(270, 90%, 10%);

  --bg-parameter-focus: hsl(60, 54%, 95%);
  --bg-button: hsl(210, 25%, 98%);
  --bg-button__disable: hsl(210, 25%, 88%);
  --bg-button__hover: hsl(210, 14%, 98%);
  --bg-button__action: hsl(33, 100%, 88%);
  --bg-button__reset: hsl(208, 14%, 85%);
  --bg-button__remove: hsl(343, 61%, 85%);
  --bg-button__add: hsl(224, 40%, 48%);
  --bg-success: hsl(82, 66%, 85%);
  --bg-error: hsl(0, 66%, 92%);
  --bg-domain-list: hsl(55, 37%, 98%);

  --border-parameter: hsl(0, 0%, 66%);
  --border-parameter-focus: hsl(312, 83%, 63%);
  --border-button: hsl(210, 13%, 15%);
  --border-button__disable: hsla(210, 13%, 12%, 0.15);
  --border-first: hsl(213, 91%, 36%);
  --border-second: hsl(14, 100%, 57%);
  --border-input: hsl(232, 57%, 83%);
  --button-add__hover: hsl(0, 59%, 41%);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-field: hsl(208, 100%, 97%);
    --bg-parameter: hsl(70, 80%, 87%);
    --bg-button__disable: hsl(210, 25%, 88%);

    --color-legend: hsl(290, 66%, 54%);
    --color-list: hsl(219, 4%, 24%);
    --color-parameter: hsl(338, 66%, 54%);
    --color-input: hsl(338, 66%, 40%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-field: hsl(42, 93%, 10%);
    --bg-parameter: hsl(70, 12%, 13%);
    --bg-button__disable: hsla(130, 1%, 48%, 0.5);
    --bg-button__action: hsl(25deg 66% 19%);
    --bg-parameter-focus: hsl(60, 9%, 11%);
    --border-first: hsl(78, 71%, 54%);

    --color-legend: hsl(290, 30%, 69%);
    --color-list: hsl(0, 0%, 84%);
    --color-parameter: hsl(338, 81%, 98%);
    --color-input: hsl(338, 20%, 92%);
    --color-button__disable: hsl(210, 5%, 77%);
    --color-error__info: hsl(0, 53%, 34%);
  }
}

.option--container {
  padding: 1rem;
}

.field {
  background-color: var(--bg-field, white);
  width: auto;
  border: none;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  border: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.legend {
  color: var(--color-legend);
}

.parameter--section {
  display: grid;
  grid-template-columns: minmax(25rem, 1fr) 1fr;
  grid-gap: 0.5rem;
  grid-auto-flow: row;
}

.instruction {
  color: var(--color-instruction, black);
  font-weight: 500;
  font-family: ui-monospace;
  margin: 0.5rem 1rem;
}

.data--editable {
  background-color: var(--bg-parameter, white);
  color: var(--color-parameter, black);
  padding: 1rem;
  font: menu;
  font-family: monospace;
  font-size: 0.9rem;
  border: 1px solid var(--border-parameter, grey);
  border-radius: 0.45rem;
  transition-property: border, background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  box-shadow: #11111a0d 0px 1px 0px, #11111a1a 0px 0px 8px;
  will-change: contents;
}

.data--editable:focus-within {
  outline-style: dashed;
  outline-color: var(--color-outline, lightgrey);
  font-size: 1rem;
  /*if we need to set border then set as below */
  outline: none;
  border-radius: 1rem;
  border: 2px solid var(--border-parameter-focus, black);
  background-color: var(--bg-parameter-focus, white);
  color: var(--color-input, black);
  animation: border-change 1s;
  animation-iteration-count: infinite;
  transform: translateY(-0.5rem);
  filter: drop-shadow(0 0.2rem 0.25rem #00000033);
}

.btn {
  appearance: none;
  background-color: var(--bg-button);
  border: 1px solid var(--border-button);
  border-radius: 0.5rem;
  box-shadow: hsla(210, 13%, 12%, 0) 0 1px 0, hsla(0, 0%, 100%, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: var(--color-button, black);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.4rem 1rem;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  white-space: unset;
  opacity: 1;
  width: 8rem;
  will-change: auto;
}

.btn:hover {
  background-color: var(--bg-button__hover);
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled {
  background-color: var(--bg-button__disable);
  border-color: var(--border-button__disable);
  color: var(--color-button__disable);
  cursor: not-allowed;
}

btn:focus {
  outline: 1px transparent;
}

.btn--action {
  background-color: var(--bg-button__action);
  color: var(--color-button-action);
  margin: 0.35rem;
}

.btn--reset {
  background-color: var(--bg-button__reset);
}

.list {
  margin: 0.5rem 1rem;
  padding: 0;
  list-style-type: none;
  color: var(--color-list, black);
}

.error-info {
  color: var(--color-error__info);
}
.parameter-status {
  grid-column: span 2;
}

.status {
  margin: 0.625rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.success {
  color: var(--color-success, black);
  background-color: var(--bg-success, lightGreen);
}

.success::before {
  content: '\2714';
  margin-inline: 0.25rem;
}

.error {
  color: var(--color-error);
  background-color: var(--bg-error);
}

.error--title::before {
  content: '\2715';
  margin-inline: 0.25rem;
}
@keyframes border-change {
  0%,
  100% {
    border: 2px dashed var(--border-first);
  }
  50% {
    border: 2px dashed var(--border-second);
  }
}

/*URL section */

.domain--content {
  margin-block: 1rem;
}

.domain--section {
  padding: 1rem;
}

.domain--list {
  padding: 0.5rem;
  font-family: ui-monospace;
  color: var(--color-domain);
  line-height: 2;
}

.domain--input {
  padding: 0.5rem;
  width: 70vw;
  border: 1px solid var(--border-input);
  font-size: 1rem;
  border-radius: 0.25rem;
  color: var(--color-input);
  margin-left: 0.75rem;
}

.domain--input:invalid {
  border-color: var(--color-error);
  border-width: 2px;
}

.btn--add {
  background-color: var(--bg-button__add);
  color: var(--color-button__add);
  width: auto;
  display: inline-grid;
  justify-content: center;
}

.btn--add::hover {
  color: var(--button-add__hover);
}

.btn--add::before {
  content: '\002B';
  font-size: 1.5rem;
}

.btn--remove {
  background-color: var(--bg-button__remove);
  color: var(--color-button__remove);
  padding: 0.35rem;
  opacity: 1;
  cursor: pointer;
  float: right;
  border: none;
  box-shadow: #0000001a 0px 10px 15px -3px, #0000000d 0px 4px 6px -2px;
  width: auto;
  margin-top: 0.25rem;
}

.btn--remove::after {
  content: '\2716';
  margin-inline: 0.25rem;
  font-size: 1rem;
}

.domain--item {
  width: 68vw;
  box-shadow: #00000026 2.4px 2.4px 3.2px;
  margin: 0.25rem;
  opacity: 0;
  animation: grow 0.5s ease-in forwards;
  padding-inline: 0.5rem;
  background-color: var(--bg-domain-list);
  font-size: 1.25rem;
}

@keyframes grow {
  to {
    opacity: 1;
  }
}

.removed {
  animation-duration: 0.8s;
  animation-name: throw-me;
  animation-timing-function: cubic-bezier(0.65 -0.02, 0.72, 0.29);
}

@keyframes throw-me {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    transform: translateX(50px);
  }
  80%,
  100% {
    opacity: 0;
    transform: translateX(-800px);
  }
}
