
/* special test for at rules, and pseudo selectors */

@import url('base.css');
@import url('other.css');

:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

:scope {
  background-color: #00ff00;
}

:where(ol, ul, menu:unsupported) :where(ol, ul) {
  color: #008000;
}

@supports (text-stroke: 10px) or (-webkit-text-stroke: 10px) {
  :is(:nth-child(2n + 1) a, details > summary) {
    -webkit-text-fill-color: #567;
    -webkit-text-stroke: #d2691e;
  }
}

@keyframes flash {
  0% {
    border-color: hwb(hue rgb(116, 59, 59) #666);
  }

  50% {
    background-color: hwb(hue rgb(116, 59, 59) #777);
  }
}



@page {
  size: landscape;
  margin: 20%;
  background-color: #1a10;
  @top-left {
    border-color: red;
  }
}

/* Targets all even-numbered pages */
@page :left {
  margin-top: 4in;
  border-bottom: #6ff;
}

