:root {
  box-sizing: border-box;
  --grey: lightgray;
}

body {
  color: #fff;
  background-color: #123d;
}

main {
  color: #ffffff;
  -webkit-text-fill-color: rebeccapurple;
  caret-color: var(--grey);
}

p:hover {
  background-color: rgb(17, 34, 51);
  color: hwb(90 10% 10% / 0.5);
}

a::after {
  content: '--';
  box-shadow: rgba(40%, 20%, 60%, 100%);
  border-color: hsla(30, 100%, 50%, 0.1);
}

header {
  background-image: linear-gradient(90deg, 
  lch(29.23 44.2 27) 20%
  oklch(52.2345% 72.2 56.2) 10%
  lab(52.2345% 72.2 -56.2 / .5) 30%, 
  oklab(59.69% 0.1007 0.1191 / 0.5) 50%);
}

form {
  background-image: conic-gradient(
    color(display-p3 1 5 0),
    hsl(45, 100%, 50%),
    hsl(270 60% 70%)
  );
  color: color(red-a98-rgb 0 1 0);
  border-color: color(display-p3 1 0.5 0 / .5);
}
