body {
  background-color: #123;
}

.black {
  color:BLACK;
}

.class ~ .red {
  border-color: red;
}

#feature {
  color:Red;
}

#abc {
	color: #bcd;
}

#bcd{
  color: linear-background(to right, #abc,#bcd);
}