:root {
  --font-sm: 0.5rem;
  --font-md: 0.75rem;
  --font-lg: 1.25rem;
}

body {
  background-color: #1a10;
  color: #2a2;
}

main {
  color: #334455ff;
  -webkit-text-fill-color: PURPLE;
}

.class {
  border: 1px solid #6ff;
}
