:root {
  box-sizing: border-box;
}

body {
  background-color: #bed0ee;
  color: black;
}

main {
  border-color: rgb(245, 245, 220);
}

.red {
  color: hsl(0, 100%, 50%);
}

figure {
  filter: drop-shadow(16px 16px 20px #0000ff);
}

header {
  background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
}

footer {
  text-shadow: #bed0ee;
  color: black;
}
