body {
  color: #fff;
  background-color: #123d;
}

main {
  color: #ffffff;
  -webkit-text-fill-color: rebeccapurple;
}

p:hover {
  background-color: rgb(17, 34, 51);
  color: hwb(90 10% 10% / 0.5);
}

a::after {
  content: '--';
  box-shadow: rgba(0, 0, 255, 0.2);
  border-color: hsla(30, 100%, 50%, 0.1);
}

