:root {
  box-sizing: border-box;
  --grey: lightgray
}

body {
  color: #fff;
  background-color: #123d;
}

main {
  color: #ffffff;
  -webkit-text-fill-color: rebeccapurple;
  caret-color: var(--grey);
}

p:hover {
  background-color: rgb(17, 34, 51);
  color: hwb(90 10% 10% / 0.5);
}

a::after {
  content: '--';
  box-shadow: rgba(0, 0, 255, 0.2);
  border-color: hsla(30, 100%, 50%, 0.1);
}

header {
  background-image: linear-gradient(90deg, 
  lch(29.2345% 44.2 27) 20%
  oklch(52.2345% 72.2 56.2) 10%
  lab(52.2345% 72.2 56.2 / .5) 30%, 
  oklab(59.69% 0.1007 0.1191 / 0.5) 50%);
}

form {
  background-image: conic-gradient(
    color(display-p3 1 5 0),
    hsl(45, 100%, 50%),
    hsl(270 60% 70%)
  );
  color: color(red-a98-rgb 0 1 0);
  border-color: color(display-p3 1 0.5 0 / .5);
}

.all {
    color: rgb(255, 0, 153);
    color: rgb(255, 0, 0 / 1);
    color: rgb(98.08%, 0%, 53.78%);
    color: rgb(300, 0, 0);
    color: rgb(100 10 1 / 0.1);
    color: rgb(255, -10, 0);
    color: rgba(255, 0, 0, 1);
    color: rgba(100%, 0%, 0%, 1);
    color: rgba(0, 0, 255, 0.5);
    color: rgba(100%, 50%, 0%, 0.1);
    color: hsl(0, 100%, 50%);
    color: hsl(0deg 100% 50% / 0.5);
    color: hsl(12rad 100% 25%);
    color: hsl(0.5turn, 50%, 50%);
    color: hsl(120 75% 75%);
    color: hsla(120, 100%, 50%, 1);
    color: hsla(240, 100%, 50%, 0.5);
    color: hsla(30, 100%, 50%, 0.1);
    color: hwb(0.25turn 0% 40%);
    color: hwb(1.5708rad 60% 0%);
    color: hwb(90 10% 10%);
    color: hwb(90 10% 10% / 0.5);
    color: hwb(90 10% 10% / 50%);
    background-color: lch(50% 100 0);
    background-color: lch(80% 240 50 / 0.5);
    background-color: lch(29.69% 45.553% 327.1);
    caret-color: lab(80% 100 50);
    caret-color: lab(51.2345% -13.6271 16.2401);
    caret-color: lab(29.69% 44.888% -29.04%);
    border-color: oklab(59.69% 0.1007 0.1191);
    border-color: oklab(59.69% 0.1007 0.1191 / 0.5);
    border-color: oklab(42.1% 41% -25%);
    border-color: oklab(72.322% -0.0465 -0.1150);
    background: oklch(0.65125 0.13138 104.097);
    background: oklch(45% 0.26 264);
    background: oklch(100% 0 0);
    background: oklch(0% 0 0 / 50%);
    background-color: color(display-p3 1 0 0);
    background-color: color(rec2020 0.42210 0.47580 0.35605);
    background-color: color(prophoto-rgb 0.88 0.45 0.10);
    background-color: color(a98-rgb 0.44091 0.49971 0.37408);
    background-color: color(sRGB 0.41587 0.503670 0.36664);
}
