@import url('variable.css');

:root {
  box-sizing: border-box;
}

@supports (display: grid) {
  body { display: grid; }
}

body {
  color: rgba(217, 219, 237, 0.8);
  background-color: black;
}

.main {
    background: conic-gradient(
      #ff9 0.25turn, 
      #01ac 0.25turn 0.5turn, 
      #912345 0.5turn 0.75turn, 
      #900017af 0.75turn) 
    top left / 25% 25% repeat;
}

.link--base {
  color: #f0e5f0;
  border-color: hsl(30, 24%, 84%);
}

.link--base:hover {
  box-shadow:12px 12px 2px 1px rgba(0 0 255 / .2);
  animation: moving 2s;
}

.panel {
  border-color: hsla(30, 100%, 50%, 0.1);
  caret-color: hwb(0 0% 0% / 0.667);
}

/* print css */

@page {
  size: landscape;
  @top-left {
    border-color: WHITESMOKE;
  }
}

@keyframes moving {
  from, to {  transform: translateX(0); color: rgb(17 34 51 / 68%); }
  30% {  transform: translateX(20px); color: rgba(116, 116, 189, 0.2); }
}

