@import url('base.css');
@import url('base2.css'); @import url('base3.css');
@import url('base4.css'); 



/* this is pre defined variable in 

:root {
  --black: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 50%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 94%, 39%);
}  

*/

:root {
  --color: darkgoldenrod;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: hsl(225, 31%, 96%);
    --background-color: hsl(0, 2%, 20%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: hsl(0, 0%, 0%);
    --background-color: hsl(0, 0%, 100%);
  }
}

* {
  font-size: 16px;
}

/* below color can be added in :root {}, 
added above comment purposefully to check whether scan for right :root {} */
:disabled {
  border-color: palevioletred;
}

[contenteditable] {
  caret-color: darkolivegreen;
}


