body {
  background-color: hsla(30, 100%, 50%, .1);
  color: red;
}

@media only screen and (max-width: 480px) {
  table {
    -webkit-text-fill-color: rebeccapurple
  }
}

main {
  color:  white;
  padding: 4px;
}

.class {
  border-color: whitesmoke;
  background-color: white;
}