@import 'other.css';

:root {
  box-sizing: border-box;
  color: #123;
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body,
html {
  border-color: rgba(51, 170, 51.6, 1);
  color: rgba(5.1e1, 1.7e2, 5.1e1, 0.1e2);
}

/* unicode selector */
.♫ {
  display: block;
  background: #eee;
  padding: 5px;
}

.\3a \`\( {
  color: currentColor;
} /* matches elements with class=":`(" */
.\31 a2b3c {
  color: currentColor;
} /* matches elements with class="1a2b3c" */
#\#fake-id {
  color: currentColor;
} /* matches the element with id="#fake-id" */
#-a-b-c- {
  color: currentColor;
} /* matches the element with id="-a-b-c-" */
#© {
  color: currentColor;
} /* matches the element with id="©" */
