body {
  background-color: hsla(30, 100%, 50%, 0.1);
  color: hsl(270 60% 70%);
}


.panel {
  color: rgb(100%, 0%, 0%);
  border-color: rgb(255, -10, 0);
  caret-color: rgba(255, 0, 0, 1);
}


@media only screen and (max-width: 480px) {
  .panel {
    -webkit-text-fill-color: #567;
  }
}

main {
  color: hwb(0.25rad 0% 40%);
  padding: 4px;
}

.item {
  border-color: rgb(255, 0, 0);
  margin-top: inherit;
  transition-property: ;
}

.nav:has(nth-child(3)) {
  color: hsl(0, 100%, 50%);
  opacity: hsl(120, 100%, 50%);
  background-color: hsl(120, 75%, 75%);
}

.panel:nth-child(10n + 0) {
  background-color: hwb(0.25turn 0% 40%);
}

/* The comment below is used to */

.tile {
  background: conic-gradient(#ff9 0.25turn, #009 0.25turn 0.5turn, #999 0.5turn 0.75turn, #900 0.75turn) top left / 25% 25% repeat;
}

.orientation input[type='radio']:checked + label {
  color: white;
  background-color: rebeccapurple;
}

@keyframes jump {
  0% {
    border-color: hwb(hue rgb(116, 59, 59) #854343);
  }
}
