
:root { 
--body__txt--1: #fff;
--body__bg--2: #123a;
--p__txt--3: #ffff;
}

:root { 
}
body {
	color: var(--body__txt--1);
	background-color: var(--body__bg--2);
}

main {
	color: var(--body__txt--1);
}

p {
	background-color: var(--body__bg--2);
	color: var(--p__txt--3);
}